.main-header{
    height: 100px;
    background-color: white;
    color: #1C1C1C;

    .row{
        flex-wrap: nowrap;

        .logo{
            width: 80px;
        }
    }
}

.main-header ul li{
    width: calc(100% / 9);
    text-align: center;
    font-weight: 500;

    &:hover{
        color: #0C7CEB;
        cursor: pointer;
        border-bottom: 2px solid #0C7CEB;
    }
}
